{% extends "layouts/_base.njk" %}

{% block content %}

    <h3>Description</h3>
    <p>Le code HTML de cette page est généré par le serveur en fonction de variables et est envoyé au navigateur lors de la requête initiale.</p>
    <figure>
        <blockquote>
            <p>{{ joke }}</p>
        </blockquote>
        <figcaption>—Chuck Norris API, <cite><a href="https://api.chucknorris.io/">https://api.chucknorris.io/</a></cite></figcaption>
    </figure>
    <h4>Notes</h4>

    <form method="get" action="/notes">
        <label for="search">Rechercher dans les notes</label>
        <input type="search" placeholder="ex: plut" id="search" name="term" required/>
        <input type="submit" value="Rechercher"/>
    </form>

    {% if term %}
        <p><i>Affichage de {{ notes | length}} {{ "notes" if notes.length > 1 else "note"}} correspondant au terme: "{{ term }}"</i></p>
    {% endif %}

    <ul>
        {% for note in notes %}
            <li><h5>{{ note.content }}</h5><small>{{ note.created_at }}</small></li>
        {% endfor %}
    </ul>
    <form method="post" action="/notes">
        <label for="content">Que voulez-vous dire ?</label>
        <input type="text" placeholder="ex: plut" id="content" name="content"/>
        <input type="submit" value="Créer une nouvelle note"/>
    </form>
{% endblock %}
